<h1>Eat-Da-Burger!!</h1>

<img src="assets/imgs/pusheen-burger.gif" alt="pusheen burger">

<br>

<button id="resetBurgers">Reset Burgers</button>

<h2>These burgers are available for nomming!</h2>

<ul>
  {{#each burgers}}
  {{#unless devoured}}
  <button class="burgers-to-eat" value={{this.id}}> {{this.burger_name}}
    </button>
        {{/unless}}
  {{/each}}
</ul>



<h2>Burgers that have been nommed!</h2>

<ul>
  {{#each burgers}}
   {{#if devoured}}
  <button class="burgers-eaten">
    {{this.burger_name}}
    </button>
    {{/if}}
  {{/each}}
</ul>
<br>
<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger-add">Burger Name:</label>
    <input type="text" id="burger-add" name="name">
  </div>
<br>
  <button type="submit" id="submit">Add Burger</button>
</form>



